In [1]:
# The usual preamble
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

# Make the graphs a bit prettier, and bigger
pd.set_option('display.mpl_style', 'default')

# This is necessary to show lots of columns in pandas 0.12. 
# Not necessary in pandas 0.13.
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

plt.rcParams['figure.figsize'] = (15, 5)

c:\users\anand\appdata\local\programs\python\python35\lib\site-packages\IPython\core\interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
ratings=pd.read_csv('ratings.csv')
movies=pd.read_csv('movies.csv')
users=pd.read_csv('users.csv')

In [3]:
ratings[:5]

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies[:5]

   movieId                               title                                       genres
0        1                    Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2                      Jumanji (1995)                   Adventure|Children|Fantasy
2        3             Grumpier Old Men (1995)                               Comedy|Romance
3        4            Waiting to Exhale (1995)                         Comedy|Drama|Romance
4        5  Father of the Bride Part II (1995)                                       Comedy

In [5]:
users[:5]

   userId  age sex  occupation    zip
0       1   24   M  technician  85711
1       2   53   F       other  94043
2       3   23   M      writer  32067
3       4   24   M  technician  43537
4       5   33   F       other  15213

In [10]:
data=pd.merge(pd.merge(ratings,users), movies)
data[:5]

   userId  movieId  rating   timestamp  age sex     occupation    zip                   title genres
0       1       31     2.5  1260759144   24   M     technician  85711  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750   57   M  administrator  91344  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953   24   M         artist  10003  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440   28   F        student  78741  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202   19   F        student  93117  Dangerous Minds (1995)  Drama

In [35]:
mean_ratings=data.pivot_table(values='rating', index='title', columns='sex', aggfunc='mean')
mean_ratings[:5]

sex                                        F         M
title
"Great Performances" Cats (1998)         3.0  0.500000
$9.99 (2008)                             NaN  3.833333
'Hellboy': The Seeds of Creation (2004)  NaN  2.000000
'Neath the Arizona Skies (1934)          NaN  0.500000
'Round Midnight (1986)                   NaN  2.250000

In [36]:
ratings_by_title=data.groupby('title').size()
ratings_by_title[:10]

title
"Great Performances" Cats (1998)            2
$9.99 (2008)                                3
'Hellboy': The Seeds of Creation (2004)     1
'Neath the Arizona Skies (1934)             1
'Round Midnight (1986)                      2
'Salem's Lot (2004)                         1
'Til There Was You (1997)                   4
'burbs, The (1989)                         19
'night Mother (1986)                        3
(500) Days of Summer (2009)                45
dtype: int64

In [39]:
active_titles=ratings_by_title.index[ratings_by_title>=250]
active_titles

Index(['Forrest Gump (1994)', 'Jurassic Park (1993)', 'Matrix, The (1999)', 'Pulp Fiction (1994)', 'Shawshank Redemption, The (1994)', 'Silence of the Lambs, The (1991)', 'Star Wars: Episode IV - A New Hope (1977)'], dtype='object', name='title')

In [41]:
mean_ratings=mean_ratings.ix[active_titles]
mean_ratings

sex                                               F         M
title
Forrest Gump (1994)                        4.005102  4.074074
Jurassic Park (1993)                       3.644737  3.729798
Matrix, The (1999)                         4.323077  4.136598
Pulp Fiction (1994)                        4.131579  4.307860
Shawshank Redemption, The (1994)           4.487500  4.487013
Silence of the Lambs, The (1991)           4.161111  4.128505
Star Wars: Episode IV - A New Hope (1977)  4.188312  4.233645

In [44]:
top_female_ratins=mean_ratings.sort_values(by='F', ascending=False)
top_female_ratins

sex                                               F         M
title
Shawshank Redemption, The (1994)           4.487500  4.487013
Matrix, The (1999)                         4.323077  4.136598
Star Wars: Episode IV - A New Hope (1977)  4.188312  4.233645
Silence of the Lambs, The (1991)           4.161111  4.128505
Pulp Fiction (1994)                        4.131579  4.307860
Forrest Gump (1994)                        4.005102  4.074074
Jurassic Park (1993)                       3.644737  3.729798

In [45]:
mean_ratings['diff']=mean_ratings['M']-mean_ratings['F']
mean_ratings

sex                                               F         M      diff
title
Forrest Gump (1994)                        4.005102  4.074074  0.068972
Jurassic Park (1993)                       3.644737  3.729798  0.085061
Matrix, The (1999)                         4.323077  4.136598 -0.186479
Pulp Fiction (1994)                        4.131579  4.307860  0.176281
Shawshank Redemption, The (1994)           4.487500  4.487013 -0.000487
Silence of the Lambs, The (1991)           4.161111  4.128505 -0.032606
Star Wars: Episode IV - A New Hope (1977)  4.188312  4.233645  0.045333

In [47]:
sorted_by_diff=mean_ratings.sort_values(by='diff')
sorted_by_diff

sex                                               F         M      diff
title
Matrix, The (1999)                         4.323077  4.136598 -0.186479
Silence of the Lambs, The (1991)           4.161111  4.128505 -0.032606
Shawshank Redemption, The (1994)           4.487500  4.487013 -0.000487
Star Wars: Episode IV - A New Hope (1977)  4.188312  4.233645  0.045333
Forrest Gump (1994)                        4.005102  4.074074  0.068972
Jurassic Park (1993)                       3.644737  3.729798  0.085061
Pulp Fiction (1994)                        4.131579  4.307860  0.176281